<section>
  <div class='top-wrapper'>
    <div class='top-inner-text'>
      <h1 class="top-title fw-bold mb-4" >フラッと×セッション</h1>
      <p class="fs-2">〜フラメンコ音楽で繋がる・体験する・発見する〜</p>
      <%= link_to "はじめる", posts_path, class: "btn btn-lg btn-custom text-white border border-dark rounded-pill me-5 px-3 py-3 fw-bold" , type: "button" %>
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-custom text-white border border-dark rounded-pill ms-5 px-3 py-3 fw-bold", type: "button" %>
    </div>
  </div>
</section>

<section>
  <div class='bg-dark bg-gradient text-white text-center pb-5 '>
    <h1 class='px-5 py-5 fw-bold '>フラっとセッションとは？</h1>
    <p>本アプリは、フラメンコ音楽をベースとした録音・音声コラボ・共有ができる録音投稿アプリです。<br>初心者や練習生でもフラメンコの「合わせ」を簡単に仮想体験できます。</p>

    <div class="d-flex justify-content-center gap-5">
      <div>
        <p>フラメンコが初めての方</p>
        <div class="card bg-transparent border border-white border-4 p-3">
          <div class="card-text text-start">
            <ul class="list-unstyled none-margin-btm">
              <li class="mb-2"><i class="fa-regular fa-square-check fa-lg"></i> チュートリアルを通してフラメンコの一部を体験！</li>
              <li class="mb-2"><i class="fa-regular fa-square-check fa-lg"></i> さまざまな投稿からフラメンコ音楽に触れられる！</li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div>
        <p>フラメンコ経験がある方</p>
        <div class="card bg-transparent border border-white border-4 p-3">
          <div class="card-text text-start">
            <ul class="list-unstyled none-margin-btm">
              <li class="mb-2"><i class="fa-regular fa-square-check fa-lg"></i> 練習中の曲を1パートから気軽にアウトプット！</li>
              <li class="mb-2"><i class="fa-regular fa-square-check fa-lg"></i> 他ユーザーとの音声コラボ（合わせ）を簡単に実現！</li>
              <li class="mb-2"><i class="fa-regular fa-square-check fa-lg"></i> 歌・踊り・ギターの垣根を超えた交流ができる！</li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="mb-5">
    <div class="text-center">
      <h1>アプリの使い方</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="pe-5">
        <h3>使い方1: 録音する</h3>
        <div class="card bg-transparent border border-dark border-4 p-3">
          <div class="card-text">
            <p>///////</p>
            <p>///////</p>
          </div>
        </div>
        <button>次へ(1/3)</button>
      </div>
      
      <div class="pe-5">
        <h3>使い方2: コラボする</h3>
        <div class="card bg-transparent border border-dark border-4 p-3">
          <div class="card-text">
            <p>///////</p>
            <p>///////</p>
          </div>
        </div>
        <button>次へ(1/3)</button>
      </div>
      
      <div>
        <h3>使い方3: 体験する</h3>
        <div class="card bg-transparent border border-dark border-4 p-3">
          <div class="card-text">
            <p>///////</p>
            <p>///////</p>
          </div>
        </div>
        <button>次へ(1/3)</button>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="bg-color text-white">
    <div>
      <h1>フラメンコってこんな音楽</h1>
    </div>

    <div class="row row-cols-2  mb-4">
      <div>
        <h2>どこの国の音楽？</h2>
        <div class="card bg-dark bg-gradient border border-white border-4 p-3">
          <div class="card-text">
            <p>///////</p>
            <p>///////</p>
          </div>
        </div>
      </div>

      <div>
        <h2>日本では有名なの？</h2>
        <div class="card bg-dark bg-gradient border border-white border-4 p-3">
          <div class="card-text">
            <p>///////</p>
            <p>///////</p>
          </div>
        </div>
      </div>
      
      <div>
        <h2>どうやって体験するの？</h2>
        <div class="card bg-dark bg-gradient border border-white border-4 p-3">
          <div class="card-text">
            <p>///////</p>
            <p>///////</p>
          </div>
        </div>
      </div>

      <div>
        <h2>まだまだ認知が低いフラメンコギターの魅力！</h2>
        <div class="card bg-dark bg-gradient border border-white border-4 p-3">
          <div class="card-text">
            <p>///////</p>
            <p>///////</p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="d-flex flex-column align-items-center text-center">
      <div>
        <h2>日本で活躍するフラメンコギターリストを紹介！</h2>
        <p>日本・スペインと大活躍している超絶フラメンコギターデュオを紹介します。<br>
           ギターを通して、本場のリズムや音色を感じてみましょう！</p>
        <p></p>
      </div>
      <div>
        <iframe class="border border-dark" src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="bg-dark bg-gradient text-center text-white">
    <h3>さぁはじめよう!!!</h3>
    <%= link_to "はじめる", new_post_path, class: "btn btn-lg btn-custom text-white border border-dark rounded-pill px-3 py-3 fw-bold" , type: "button" %>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-custom text-white border border-dark rounded-pill px-3 py-3 fw-bold" , type: "button" %>
  </div>
</section>