<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1 class="top-title fw-bold mb-4" >フラッと×セッション</h1>
    <p class="fs-2">スペインの伝統文化である<br>
    フラメンコ音楽を気軽に体感することができるサービス</p>
    <%= link_to "はじめる", posts_path, class: "btn btn-lg btn-custom text-white border border-dark rounded-pill me-5 px-3 py-3 fw-bold" , type: "button" %>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-custom text-white border border-dark rounded-pill ms-5 px-3 py-3 fw-bold", type: "button" %>
  </div>
</div>
<section>
  <div class='fla-overview pb-5 '>
    <h1 class='text-dark px-5 py-5 fw-bold text-center'>フラっとセッションでできること</h1>
    <div class="d-flex justify-content-center gap-5">
      <div>
        <p>フラメンコが初めての方</p>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">ffffffffff</p>
          </div>
        </div>
      </div>

      <div >
        <p>フラメンコ経験がある方</p>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">ffffffffffff</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section>
  <div class='fla-introduction bg-color text-white pb-5 text-center'>
    <h1 class=" px-5 py-5 fw-bold">フラメンコってこんな音楽</h1>
    <h3 class="d-flex justify-content-center text-center">歌、踊り、ギターが三位一体となって<br>
    即興的に作り上げる音楽です</h3>
    <p class="text-center">フラメンコ特有の音色やリズムから作り上げられる<br>
    圧倒的な世界観は、スペインの無形文化遺産に登録されています。</p>
    <h3>フラメンコは踊りだけじゃない!</h3>
    <p>日本では踊りをイメージされがちですが<br>
    実はフラメンコの起源は歌にあります。</p>
  </div>
</section>
<section>
  <div class='fla-expt bg-dark bg-gradient text-white pb-5'>
    <h1 class='text-white d-flex justify-content-center px-5 py-5 fw-bold'>誰でも簡単に参加!!</h1>
    <p class="text-center mb-5">フラメンコは参加型の音楽です<br>
    演者だけでなく観る人も一体となってフラメンコを作り上げていきます</p>
    <div class="container">
      <h3>はじめてでも大丈夫! 簡単に参加できる2つの方法</h3>
      <ul class="list-unstyled">
        <li class="">
          <p>ハレオ（Jaleo）</p>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">ffffffffffff</p>
            </div>
          </div>
        </li>
        <li class="">
          <p>パルマ（Palma）</p>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">fffffffff</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="text-center">
        <h3>実際にチャレンジ!!!</h3>
        <%= link_to "はじめる", new_post_path, class: "btn btn-lg btn-custom text-white border border-dark rounded-pill px-3 py-3 fw-bold" , type: "button" %>
      </div>
    </div>
  </div>
</section>