<footer>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="nav-item">
        <a class="navbar-brand text-white fs-6" href="#">お問い合わせ</a>
        <a class="navbar-brand text-white fs-6" href="#">利用規約</a>
        <a class="navbar-brand text-white fs-6" href="#">プライバシーポリシー</a>
      </div>
    </div>
  </nav>
</footer>