<div class="bg-color-tutorial">
  <div class="container">

    <div class="row justify-content-center text-white pt-2 pb-5">
      <div class="text-center py-5 mb-5">
        <h1 class="fw-bold">チュートリアル</h1>
        <p class="fs-5">パルマを叩いてフラメンコ体験!!</p>
      </div>

      <div class="w-75">
        <h3>STEP1： パルマの叩き方を知ろう</h3>
        <div class="card rounded bg-color-tutorial-card  border border-white border-3 mt-3 mb-5">
          <div class="card-body text-start mb-5">
            <h4 class="card-title fs-3 mb-3">パルマとは？</h4>
            <p class="card-text fs-5">フラメンコでは手拍子を表します。<br>高い音(セコ)・低い音(ソルダ)の二種類の叩き方があり、リズムを支えるドラムのような役割があります。本場スペインでは手拍子専門のアーティスト(パルメーロ)がいるほど、フラメンコを支える重要な役割を担っています。</p>
          </div>
          <div class="card-body">
            <h4 class="card-title text-start fs-3 mb-3">叩き方紹介</h4>
            <div class="row row-cols-2 mb-5">
              <div class="col px-3">
                <h5 class="card-text">セコ（高い音）</h5>
                <div class="ratio ratio-16x9 ">
                  <iframe class="rounded" src="https://www.youtube.com/embed/32uA1pBfG38" title="YouTube video" allowfullscreen></iframe>
                </div>
                <%# <iframe width="560" height="315" src="https://www.youtube.com/embed/32uA1pBfG38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> %>
              </div>
              <div class="col px-3">
                <h5 class="card-text">ソルダ（低い音）</h5>
                <div class="ratio ratio-16x9">
                  <iframe class="rounded" src="https://www.youtube.com/embed/UHfeQC1aL1Y" title="YouTube video" allowfullscreen></iframe>
                </div>
                <%# <iframe width="560" height="315" src="https://www.youtube.com/embed/UHfeQC1aL1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> %>
              </div>
            </div>
            <p class="card-text text-center fs-5 mb-4">比較的ソルダ(低い音)の方が簡単に叩くことができます！<br>まずは形から好きな叩き方で真似てみてみましょう！</p>
          </div>
        </div>
      </div>

      <div class="w-75">
        <h3>STEP3: 実践!!流れる音に合わせてパルマを叩こう！</h3>
        <div class="row row-cols-1">
          <%= link_to "難易度☆：テンポに合わせて叩こう", guest_tutorial_how_to_recordings_path(level: "easy"), class: "btn btn-default text-white col rounded-pill bg-color-tutorial-card mb-3" %>
          <%= link_to "難易度☆☆：リズムに合わせて叩こう", guest_tutorial_how_to_recordings_path(level:"normal"), class: "btn btn-default text-white col rounded-pill bg-color-tutorial-card mb-3" %>
          <%= link_to "難易度☆☆☆：メロディーに合わせて叩こう", guest_tutorial_how_to_recordings_path(level: "hard"), class: "btn btn-default text-white col rounded-pill bg-color-tutorial-card mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
