<div class="card border border-3 border-white bg-color-tutorial-card mb-5">
  <div class="card-body text-white">
    <h2 class="card-title mb-3">ギターのタパに合わせてパルマを叩こう!!</h2>
    <div class="card-text">
      <div class="mb-4">
        <h3>タパとは？</h3>
        <p>ギター奏法の一つ。音をミュートしてジャカジャカと鳴らす弾き方<br>リズム出しなどに使われる。</p>
      </div>
      <div>
        <h3>使い方説明</h3>
        <ol>
          <li>録音開始ボタンで開始</li>
          <li>リズムに合わせて手拍子!</li>
          <li>停止ボタンで停止</li>
          <li>再生ボタンで聞いてみよう</li>
        </ol>
      </div>
    </div>
  </div>
</div>