<button type="button" class="btn btn-custom btn-lg rounded-circle text-white fw-bold px-4 py-4" id="record-button">REC</button>
<button type="button" class="btn stop-btn btn-lg rounded-circle text-white fw-bold px-4 py-4 ms-5" id="stop-button" disabled>Stop</button>