@import "~bootstrap/scss/bootstrap.scss";

.navbar {
  height: 50px;
}

.bg-color {
  background-color: #BD1A37;
}

.bg-color-pro {
  background-color: rgba(90,95,95,0.93);
}

.btn-custom {
  background-color: #BD1A37;
}

.stop-btn {
  background-color: #16239C;
}

.bg-height {
  min-height: calc(100vh - 100px);
}

.none {
  display: none;
}


.bkg-img {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: url(../../assets/images/fla12.png);
  background-size:cover;
  background-position: center;


}

.bkg-img-pro {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(../../assets/images/bkg-25160896_m.jpg);
  background-size:cover;
  background-position: center;
}

.bkg-img-pro2 {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/images/fla9.png);
  background-size:cover;
  background-position: center;
}

.bkg-img-index {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: url(../../assets/images/unsplash_recording.png);
  background-size:cover;
  background-position: center;
}

  // 背景画像url:  ( ../../assets/images/unsplash_recording.png)
  