@import "~bootstrap/scss/bootstrap.scss";

// fontawesome導入設定
// $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
// @import '@fortawesome/fontawesome-free/scss/solid';
// @import '@fortawesome/fontawesome-free/scss/regular';
// @import '@fortawesome/fontawesome-free/scss/brands';
// @import '@fortawesome/fontawesome-free/scss/v4-shims';


.navbar {
  height: 50px;
}

.btn-custom {
  // background-color: #BD1A37;
  background: linear-gradient(to bottom, #ac0929, #d6657a);
  // シャドウ追加 参考： https://coosy.co.jp/blog/css-hovereffect/
  box-shadow: 0px 5px 1px #83061bf5;
}

.stop-btn {
  background: linear-gradient(to bottom, #071072c7, #6570cdde);
  box-shadow: 0px 5px 1px #010d7c;
}

.btn:hover{
  box-shadow: none;
  transform: scale(0.99, 0.99) translateY(2px);
}

.bg-custom-audio-slider {
  background-color: #484852;
}





.bg-color {
  background-color: #960822;
  // background-color: #990923;
}

.table-th-color {
  background-color: #ac0b29c9 !important;
}

.table-td-color {
  background-color: #3c3939eb !important;
}

.card-shadow-dark {
  box-shadow: 15px 11px 10px rgb(0 0 0);
}

.bg-color-tutorial {
  background-color: #212020
}

.bg-color-pro {
  background-color: #3c3939eb;
  // background-color: rgba(90,95,95,0.93);
}

.bg-color-pro-head {
  background-color: rgba(49, 53, 53, 0.93);
}

.bg-dark-custom {
  background-color: #434549;
}
.bg-dark-sub-custom {
  background-color: #393b3f;
}


.bg-height {
  min-height: calc(100vh - 100px);
}



.bkg-img {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: url(../images/fla12.png);
  background-size:cover;
  background-position: center;
}

.bkg-img-pro {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0)), url(../images/bkg-city.png);
  background-size:cover;
  background-position: center;
}

// .bkg-img-pro2 {
//   min-height: calc(100vh - 100px);
//   max-width: 100%;
//   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/images/fla9.png);
//   background-size:cover;
//   background-position: center;
// }

.bkg-img-index {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-image: url(../images/unsplash_recording.png);
  background-size:cover;
  background-position: center;
}

.form-style {
  display: none;
}

// トップページアコーディオン
// アコーディオン表示後の見出しの背景色を調整
.accordion-button:not(.collapsed) {
  background-color: #990923;
}

// アコーディオンのアイコンサイズを調整
.accordion {
  --bs-accordion-btn-icon-width: 2.5rem;
}

.none {
  display: none;
}

.bg-color-top {
  background-color: #f4f4f4;
}



// トップページアイコン画像の組み合わせ
.icon-container {
  position: relative;
}

.icon-underlay {
  position: relative;
}

// 画面サイズに高さを調整
.height-adjust {
  height: calc(100vh);
}

a.hover-test {
  color: blue;
}


// トップページのレイアウト
// .top-title-size {
//   font-size: 3.5rem;
// }

.castom-size {
  font-size: 3.5rem;
}

a.top-anchor-link {
  color: white;
}

.top-wrapper {
  min-height: 600px;
  max-width: 100%;
  background-image: url(../images/bkg_image.jpg);
  height: calc(100vh - 50px);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.bkg-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

// プロフィール
.btn-profile-custom {
  background: #aad3b8eb;
}

.btn-profile-custom:hover {
  background: #1987548a;
}

// 投稿カードレイアウト
.bg-color-post-card {
  background-color: #f8f8ff;
  // background-color: #990923;
}


.app-use-image {
  width: 200px;
  height: 400px;
}


// トップページ：録音説明カード
.bg-dark-card {
  background-color: #565b65;
}



// トップページ: カルーセル内カードの高さ・画像サイズの調整
.carousel-inner .card {
  height: 780px;
}
.app-use-image {
  width: 350px;
  height: 400px;
}

@media (max-width: 575px) {
  .carousel-inner .card {
    height: 630px;
  }
  .app-use-image {
    width: 225px;
    height: 300px;
  }
}


@media (min-width: 997px) {
  .app-use-image {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1400px) {
  .app-use-image {
    width: 630px;
    height: 380px;
  }
}

// トップページ: アプリ解説セクション/コンテナのレスポンシブ対応
@media (max-width: 575px) {
  .app-use-section .container {
    max-width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app-use-section .container {
    max-width: 540px;
  }
}



//参考 https://ricordo.blog/archives/328#3
.fs-10px { font-size: 10px !important; }
.fs-11px { font-size: 11px !important; }
.fs-12px { font-size: 12px !important; }
.fs-13px { font-size: 13px !important; }
.fs-14px { font-size: 14px !important; }
.fs-15px { font-size: 15px !important; }
.fs-16px { font-size: 16px !important; }
.fs-normal { font-size: normal !important; }
.fs-medium { font-size: medium !important; }
.fs-small { font-size: small !important; }
.fs-xsmall { font-size: x-small !important; }
.fs-xxsmall { font-size: xx-small !important; }
.fs-large { font-size: large !important; }
.fs-xlarge { font-size: x-large !important; }
.fs-xxlarge { font-size: xx-large !important; }
.fs-xxxlarge { font-size: xxx-large !important; }

@media (max-width: 768px) {
  .fs-md-10px { font-size: 10px !important; }
  .fs-md-11px { font-size: 11px !important; }
  .fs-md-12px { font-size: 12px !important; }
  .fs-md-13px { font-size: 13px !important; }
  .fs-md-14px { font-size: 14px !important; }
  .fs-md-15px { font-size: 15px !important; }
  .fs-md-16px { font-size: 16px !important; }
  .fs-md-normal { font-size: normal !important; }
  .fs-md-medium { font-size: medium !important; }
  .fs-md-small { font-size: small !important; }
  .fs-md-xsmall { font-size: x-small !important; }
  .fs-md-xxsmall { font-size: xx-small !important; }
  .fs-md-large { font-size: large !important; }
  .fs-md-xlarge { font-size: x-large !important; }
  .fs-md-xxlarge { font-size: xx-large !important; }
  .fs-xxxlarge { font-size: xxx-large !important; }
}

@media (max-width: 575px) {
  .fs-sm-10px { font-size: 10px !important; }
  .fs-sm-11px { font-size: 11px !important; }
  .fs-sm-12px { font-size: 12px !important; }
  .fs-sm-13px { font-size: 13px !important; }
  .fs-sm-14px { font-size: 14px !important; }
  .fs-sm-15px { font-size: 15px !important; }
  .fs-sm-16px { font-size: 16px !important; }
  .fs-sm-normal { font-size: normal !important; }
  .fs-sm-medium { font-size: medium !important; }
  .fs-sm-small { font-size: small !important; }
  .fs-sm-xsmall { font-size: x-small !important; }
  .fs-sm-xxsmall { font-size: xx-small !important; }
  .fs-sm-large { font-size: large !important; }
  .fs-sm-xlarge { font-size: x-large !important; }
  .fs-sm-xxlarge { font-size: xx-large !important; }
}
