<h1>How to record audio using the MediaStream Recording API in JavaScript</h1>
<div class="record">
  <div>
    <p>単体録音</p>
    <button type="button" id="buttonStart">Start</button>
    <button type="button" id="buttonStop" disabled>Stop</button>
  </div>
  <div>
    <audio controls id="player"></audio>
  </div>
</div>

<br>

<div class="collaborative-record">
  <p>同時録音</p>
  <div>
    <button type="button" id="collaboButtonStart">Start</button>
    <button type="button" id="collaboButtonStop" disabled>Stop</button>
  </div>
  <div>
    <%= audio_tag( "tempfile.webm", controls: true, id: "collaboPlayer") %>
  </div>
</div>


<%= javascript_pack_tag 'posts/main' %>