
<div class="bkg-img-index">
  <div class="container">
    <h1 class="text-white py-5">RECORDING</h1>

    <div>
      <% if @ref_post %>
        <p>セッション元</p>
        <%= @ref_post.id %>
        <p><%= audio_tag(url_for(@ref_post.voice), controls: true, id: "refRecord") %></p>
      <% end %>
    </div>

    <div class="record">
      <div >
        <p class="text-white">単体録音</p>
        <button type="button" class="btn start-btn btn-lg text-white" id="buttonStart">Start</button>
        <button type="button" class="btn stop-btn btn-lg text-white ms-3" id="buttonStop" disabled>Stop</button>
      </div>
      <div>
        <audio controls class="my-5" id="player"></audio>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'create-audio' %>