
<%# 録音画面 %>
<div class="bkg-img-index" id="recording_screen">
  <div class="container">
    <h1 class="text-white py-5">RECORDING</h1>

    <%# コラボ元音源の再生処理の追加が必要 %>

    <div class="record">
      <div >
        <p class="text-white">単体録音</p>
        <button type="button" class="btn btn-custom btn-lg text-white" id="buttonStart">Start</button>
        <button type="button" class="btn btn-custom btn-lg text-white ms-3 none" id="buttonRestart" >Restart</button>
        <button type="button" class="btn stop-btn btn-lg text-white ms-3" id="buttonStop" disabled>Stop</button>
        <button type="button" class="btn stop-btn btn-lg text-white ms-3 none" id="buttonNext" >Next</button>
      </div>
      <div>
        <audio controls class="my-5" id="player"></audio>
      </div>
    </div>
  </div>
</div>

<%# 投稿フォーム %>
<div class="bkg-img-pro form-style" id="post_form">
  <h1 class="text-white  text-left ps-5 py-3 mb-5 bg-dark bg-gradient">投稿画面</h1>
  <div class="container">
    <%= render partial: 'layouts/flash' %>
    <p class="text-white">投稿フォーム</p>

    <audio id="record" controls></audio>
    <div>
      <%= render 'posts/form', post: @post %>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'create-audio' %>