<h1>How to record audio using the MediaStream Recording API in JavaScript</h1>

<div>
  <% if @ref_post %>
    <p>セッション元</p>
    <%= @ref_post.id %>
    <p><%= audio_tag(url_for(@ref_post.voice), controls: true, id: "refRecord") %></p>
  <% end %>
</div>

<div class="record">
  <div>
    <p>単体録音</p>
    <button type="button" id="buttonStart">Start</button>
    <button type="button" id="buttonStop" disabled>Stop</button>
  </div>
  <div>
    <audio controls id="player"></audio>
  </div>
</div>

<div>
  <%= link_to "一覧へ", posts_path %>
</div>

<%= javascript_pack_tag 'create-audio' %>